.feedback-module-container * {
    margin: 0;
    padding: 0;
}

.feedback-btn {
    font-size: 14px;
    position: fixed;
    bottom: 0px;
    right: 50px;
    width: auto;
    font-weight: bold;
}

#feedback-module p {
    font-size: 13px;
    padding-bottom: 10px;
}

#feedback-note-tmp {
    width: 444px;
    height: auto;
    min-height: 90px;
    outline: none;
    font-family: Arial, sans-serif;
    padding: 4px;
}

#feedback-note-tmp:focus,
#feedback-overview-note:focus {
    border: 1px solid #64b7cc
}

#feedback-canvas {
    position: absolute;
    top: 0;
    left: 0;
}

#feedback-welcome {
    top: 30%;
    left: 50%;
    margin-left: -270px;
    display: block;
    position: fixed;
}

.feedback-logo {
    background: url(../images/vzlogo.jpg) -0px -0px no-repeat;
    background-size: contain;
    width: 150px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: normal;
    line-height: 32px;
    padding: 10px 0px 0px 60px;
    height: 37px;
    vertical-align: middle;
}

.feedback-next-btn {
    width: 72px;
    height: 29px;
    line-height: 27px;
    float: right;
    font-size: 13px;
    padding: 0 8px;
}

.feedback-back-btn {
    width: 72px;
    height: 29px;
    line-height: 27px;
    float: right;
    font-size: 13px;
    padding: 0 8px;
    margin-right: 20px;
}

.feedback-submit-btn {
    width: 72px;
    height: 29px;
    line-height: 27px;
    float: right;
    font-size: 13px;
    padding: 0 8px;
}

.feedback-submit-btn-disabled {
    background-color: gray !important;
    border: 1px solid #FFFFFF !important;
    color: #AEACAC !important;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1) !important;
    background-color: #F9F1F1 !important;
    background-image: -webkit-linear-gradient(top, #F0EDED, #E1E1E1) !important;
    background-image: -moz-linear-gradient(top, #F0EDED, #E1E1E1) !important;
    background-image: -ms-linear-gradient(top, #F0EDED, #E1E1E1) !important;
    background-image: -o-linear-gradient(top, #F0EDED, #E1E1E1) !important;
    background-image: linear-gradient(top, #F0EDED, #E1E1E1) !important;
}

.feedback-close-btn {
    width: 72px;
    height: 29px;
    line-height: 27px;
    float: right;
    font-size: 13px;
    padding: 0 8px;
}

.feedback-helper {
    background: rgba(0, 0, 0, 0);
    cursor: default;
}

.feedback-helper[data-type="highlight"]>.feedback-helper-inner {
    background: rgba(0, 68, 255, 0.1)
}

#feedback-close {
    cursor: pointer;
    position: absolute;
    background: url(../images/icons.png) -0px -64px;
    width: 30px;
    height: 30px;
}

.feedback-wizard-close {
    cursor: pointer;
    position: absolute;
    top: 2px;
    right: 2px;
    background: url(../images/icons.png) -0px -34px;
    width: 30px;
    height: 30px;
    opacity: 0.65;
}

.feedback-wizard-close:hover {
    opacity: 1
}

#feedback-welcome-error,
#feedback-overview-error {
    display: none;
    color: #f13e3e;
    float: right;
    margin-right: 30px;
    font-size: 13px;
    line-height: 29px;
}

#feedback-overview-error {
    margin-top: 20px
}

#feedback-highlighter {
    display: none;
    bottom: 100px;
    right: 100px;
    position: fixed;
    width: 540px;
    height: 340px;
}

#feedback-overview {
    display: none;
    /*top: 10%;
left: 50%;*/
    /*margin-left: -420px;*/
    /*position: fixed;*/
    
    position: absolute;
    width: 840px !important;
    height: auto;
}

#feedback-submit-error,
#feedback-submit-success {
    top: 30%;
    left: 50%;
    margin-left: -300px;
    display: block;
    position: fixed;
    width: 600px;
    height: auto;
}

.feedback-btn {
    padding: 10px;
    outline: 0;
    background-clip: padding-box;
    -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 4px 16px rgba(0, 0, 0, .2);
    box-shadow: 0 4px 16px rgba(0, 0, 0, .2);
    z-index: 40000;
}

.feedback-btn-notifications {
    outline: 0;
    background-clip: padding-box;
    -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 4px 16px rgba(0, 0, 0, .2);
    box-shadow: 0 4px 16px rgba(0, 0, 0, .2);
    z-index: 40000;
    font-size: 14px;
    position: fixed;
    bottom: 0px;
    right: 180px;
    width: 36px;
    height: 36px;
    font-weight: bold;
    background: url('../images/1.png') no-repeat !important;
}

.feedback-btn-gray {
    text-align: center;
    cursor: pointer;
    font-family: 'Arial';
    border: 1px solid #dcdcdc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #444;
    border-radius: 2px;
    background-color: #f5f5f5;
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
    background-image: -moz-linear-gradient(top, #f5f5f5, #f1f1f1);
    background-image: -ms-linear-gradient(top, #f5f5f5, #f1f1f1);
    background-image: -o-linear-gradient(top, #f5f5f5, #f1f1f1);
    background-image: linear-gradient(top, #f5f5f5, #f1f1f1);
}

.feedback-btn-gray:hover {
    color: #333;
    border: 1px solid #c6c6c6;
    background-color: #f8f8f8;
    background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-image: -moz-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-image: -ms-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-image: -o-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
}

.feedback-btn-blue {
    text-align: center;
    cursor: pointer;
    font-family: 'Arial';
    border-radius: 2px;
    background-color: #357ae8;
    background-image: -webkit-linear-gradient(top, #4d90fe, #357ae8);
    background-image: -moz-linear-gradient(top, #4d90fe, #357ae8);
    background-image: -ms-linear-gradient(top, #4d90fe, #357ae8);
    background-image: -o-linear-gradient(top, #4d90fe, #357ae8);
    background-image: linear-gradient(top, #4d90fe, #357ae8);
    border: 1px solid #2f5bb7;
    color: #fff;
}

#feedback-note-tmp,
#feedback-overview-note {
    resize: none
}

#feedback-welcome,
#feedback-highlighter,
#feedback-overview,
#feedback-submit-success,
#feedback-submit-error,
#feedback-comments {
    font-family: Arial, sans-serif;
    z-index: 40000;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .333);
    padding: 30px 42px;
    width: 540px;
    border: 1px solid rgba(0, 0, 0, .333);
    outline: 0;
    -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 4px 16px rgba(0, 0, 0, .2);
    box-shadow: 0 4px 16px rgba(0, 0, 0, .2);
    background: #fff;
    background-clip: padding-box;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-transform: translateZ();
}

.feedback-sethighlight,
.feedback-setblackout {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: #f5f5f5;
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
    background-image: -moz-linear-gradient(top, #f5f5f5, #f1f1f1);
    background-image: -ms-linear-gradient(top, #f5f5f5, #f1f1f1);
    background-image: -o-linear-gradient(top, #f5f5f5, #f1f1f1);
    background-image: linear-gradient(top, #f5f5f5, #f1f1f1);
    color: #444;
    border: 1px solid #dcdcdc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    cursor: default;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    margin-right: 16px;
    height: 30px;
    line-height: 28px;
    min-width: 90px;
    outline: 0;
    padding: 0 8px;
    display: inline-block;
    float: left;
}

.feedback-setblackout {
    margin-top: 10px;
    clear: both;
}

.feedback-sethighlight div {
    background: url(../images/icons.png) -16px -94px;
    width: 16px;
    height: 16px;
    margin-top: 7px;
    float: left;
}

.feedback-setblackout div {
    background: url(../images/icons.png) 0px -94px;
    width: 16px;
    height: 16px;
    margin-top: 7px;
    float: left;
}

.feedback-sethighlight:hover,
.feedback-setblackout:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: #f8f8f8;
    background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-image: -moz-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-image: -ms-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-image: -o-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
    border: 1px solid #c6c6c6;
    color: #333;
}

.feedback-active {
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    background-color: #eee;
    background-image: -webkit-linear-gradient(top, #eee, #e0e0e0);
    background-image: -moz-linear-gradient(top, #eee, #e0e0e0);
    background-image: -ms-linear-gradient(top, #eee, #e0e0e0);
    background-image: -o-linear-gradient(top, #eee, #e0e0e0);
    background-image: linear-gradient(top, #eee, #e0e0e0);
    border: 1px solid #ccc;
    color: #333;
}

#feedback-highlighter label {
    float: left;
    margin: 0 0 0 10px;
    line-height: 30px;
    font-size: 13px;
    font-weight: normal;
}

#feedback-highlighter label.lower {
    margin-top: 10px
}

.feedback-buttons {
    float: right;
    margin-top: 20px;
    clear: both;
}

.feedback-language {
    float: right;
    margin-top: 20px;
    clear: both;
    margin-right: 7px;
    vertical-align: middle;
    padding: 5px 10px;
    border: 1px solid #d2d3d4;
    border-left: 3px solid #E9161D !important;
}

#feedback-module h3 {
    font-weight: bold;
    font-size: 15px;
    margin: 8px 0;
}

.feedback-additional {
    margin-bottom: 20px!important
}

#feedback-overview-description {
    float: left
}

#feedback-overview-note {
    width: 314px;
    padding: 4px;
    height: 90px;
    outline: none;
    font-family: Arial, sans-serif;
}

#feedback-overview-screenshot {
    float: right;
    overflow: auto;
    height: 330px;
    width: 400px;
}

.feedback-screenshot {
    max-width: 375px;
    padding: 1px;
    border: 1px solid #adadad;
}

#feedback-overview-description-text span {
    font-size: 14px;
    margin: 8px 0;
    color: #666;
    padding-left: 10px;
    background: url(../images/icons.png) -30px -34px no-repeat;
    margin-left: 26px;
}

#feedback-overview-description-text {
    text-align: left;
    width: 350px;
}

#feedback-browser-info,
#feedback-page-info,
#feedback-page-structure,
#feedback-page-history,
#feedback-additional-none {
    margin-top: 16px;
    display: none;
}

#feedback-overview-description-text ul {
    list-style: none;
    padding-left: 50px;
}

.btnRed {
    border: 1px solid #ed1c24 !important;
    color: #fff !important;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1) !important;
    background-color: #ed1c24 !important;
    background-image: -webkit-linear-gradient(top, #de1e27, #b81c22) !important;
    background-image: -moz-linear-gradient(top, #de1e27, #b81c22) !important;
    background-image: -ms-linear-gradient(top, #de1e27, #b81c22) !important;
    background-image: -o-linear-gradient(top, #de1e27, #b81c22) !important;
    background-image: linear-gradient(top, #de1e27, #b81c22) !important;
    font-size: 13px !important;
}

.btnRed:hover {
    border: 1px solid #cf1a1f;
    color: #FFF;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.3);
    background-color: #f14b52;
    background-image: -webkit-linear-gradient(top, #a61b1f, #ca1d23)!important;
    background-image: -moz-linear-gradient(top, #a61b1f, #ca1d23) !important;
    background-image: -ms-linear-gradient(top, #a61b1f, #ca1d23) !important;
    background-image: -o-linear-gradient(top, #a61b1f, #ca1d23) !important;
    background-image: linear-gradient(top, #a61b1f, #ca1d23) !important;
}

@media print {
    .feedback-btn-gray {
        display: none;
    }
}
/* comment styles */

#feedback-comments {
    display: none;
    bottom: 50px;
    right: 100px;
    position: fixed;
    width: 550px;
    overflow: auto;
    padding: 30px;
    max-height: 90%;
}

#feedback-comments .feedback-comment-list {
    width: 480px;
}

#feedback-comments .feedback-title {
    margin-bottom: 20px;
}

#feedback-comments .author {
    color: blue;
    color: rgb(59, 89, 152);
    cursor: pointer;
    direction: ltr;
    display: inline;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    height: auto;
    line-height: 16px;
    list-style-type: none;
    text-align: left;
}

#feedback-comments .time {
    color: gray;
    padding-left: 10px;
}

#feedback-comments .logovz {
    background: url(../images/vzlogo.jpg) -0px -0px no-repeat;
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
    float: left;
    padding: 0px 10px 0px 0px;
}

#feedback-comments .logouser {
    background: url(../images/userlogo.png) -0px -0px no-repeat;
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
    float: left;
    padding: 0px 10px 0px 0px;
}

#feedback-comments .comment {
    list-style: none;
    font-family: Arial, sans-serif;
    font-size: 12px;
    line-height: 17px;
    list-style-type: none;
    text-align: justify;
    width: auto;
    word-wrap: break-word;
    margin-bottom: 15px;
}

#feedback-comments .btn-reply {
    padding: 0px;
}

#feedback-comments textarea {
    width: 480px;
    height: 60px;
    margin-bottom: 10px;
}

.container {
    width: 100%;
    position: relative;
    text-align: center;
}

.clr {
    clear: both;
}

.container > header {
    padding: 20px 30px 10px 30px;
    margin: 0px 20px 10px 20px;
    position: relative;
    display: block;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.container > header h1 {
    font-family: Arial, sans-serif;
    font-size: 35px;
    line-height: 35px;
    position: relative;
    font-weight: 400;
    color: #3d7489;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    padding: 0px 0px 5px 0px;
}

.container > header h1 span {
    color: #80B8CE;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8);
}

.container > header h2 {
    font-size: 16px;
    font-style: italic;
    color: #82858e;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8);
}
/* Header Style */

.codrops-top {
    line-height: 24px;
    font-size: 11px;
    background: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
    z-index: 9999;
    position: relative;
    box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.2);
}

.codrops-top a {
    padding: 0px 10px;
    letter-spacing: 1px;
    color: #333;
    text-shadow: 0px 1px 1px #fff;
    display: block;
    float: left;
}

.codrops-top a:hover {
    background: #fff;
}

.codrops-top span.right {
    float: right;
}

.codrops-top span.right a {
    float: left;
    display: block;
}

p.codrops-demos {
    text-align: center;
    display: block;
    padding: 14px;
}

p.codrops-demos a,
p.codrops-demos a.current-demo,
p.codrops-demos a.current-demo:hover {
    display: inline-block;
    border: 1px solid #7FB2C1;
    padding: 4px 10px 3px;
    font-size: 13px;
    line-height: 18px;
    margin: 0px 3px;
    font-weight: 800;
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #b0d4e3;
    background: -moz-linear-gradient(top, #b0d4e3 0%, #88bacf 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b0d4e3), color-stop(100%, #88bacf));
    background: -webkit-linear-gradient(top, #b0d4e3 0%, #88bacf 100%);
    background: -o-linear-gradient(top, #b0d4e3 0%, #88bacf 100%);
    background: -ms-linear-gradient(top, #b0d4e3 0%, #88bacf 100%);
    background: linear-gradient(top, #b0d4e3 0%, #88bacf 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#b0d4e3', endColorstr='#88bacf', GradientType=0);
}

p.codrops-demos a:hover {
    background: #80B8CE;
}

p.codrops-demos a:active {
    -webkit-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.4);
    -moz-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.4);
    box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.4);
}

p.codrops-demos a.current-demo,
p.codrops-demos a.current-demo:hover {
    color: #3d7489;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.3);
}
/* Media Queries */

@media screen and (max-width: 767px) {
    .container > header {
        text-align: center;
    }
    p.codrops-demos {
        position: relative;
        top: auto;
        left: auto;
    }
}

.ac-container {
    width: 100%;
    text-align: left;
}

.ac-container label.title {
    font-family: Arial, sans-serif;
    padding: 5px 20px;
    position: relative;
    z-index: 20;
    display: block;
    height: auto;
    max-height: 30px;
    white-space: nowrap;
    cursor: pointer;
    color: #777;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
    line-height: 33px;
    font-size: 19px;
    text-overflow: ellipsis;
    overflow: hidden;
    background: #D8DEEA;
    background: -moz-linear-gradient(top, #D8DEEA 1%, #eaeaea 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #D8DEEA), color-stop(100%, #eaeaea));
    background: -webkit-linear-gradient(top, #D8DEEA 1%, #eaeaea 100%);
    background: -o-linear-gradient(top, #D8DEEA 1%, #eaeaea 100%);
    background: -ms-linear-gradient(top, #D8DEEA 1%, #eaeaea 100%);
    background: linear-gradient(top, #D8DEEA 1%, #eaeaea 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#D8DEEA', endColorstr='#eaeaea', GradientType=0);
    box-shadow: 0px 0px 0px 1px rgba(155, 155, 155, 0.3), 1px 0px 0px 0px rgba(255, 255, 255, 0.9) inset, 0px 2px 2px rgba(0, 0, 0, 0.1);
    -webkit-transition: max-height 2s ease-in-out 0s, background 1s ease-in-out;
    -moz-transition: max-height 2s ease-in-out 0s, background 1s ease-in-out;
    -o-transition: max-height 2s ease-in-out 0s, background 1s ease-in-out;
    -ms-transition: max-height 2s ease-in-out 0s, background 1s ease-in-out;
    transition: max-height 2s ease-in-out 0s, background 1s ease-in-out;
}

.ac-container label.title:hover {
    background: #fff;
}

.ac-container input:checked + label.title,
.ac-container input:checked + label.title:hover {
    background: #D8DEEA;
    color: #3d7489;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.6);
    box-shadow: 0px 0px 0px 1px rgba(155, 155, 155, 0.3), 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.ac-container label.title:hover:after,
.ac-container input:checked + label.title:hover:after {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    right: 13px;
    top: 7px;
    background: transparent url(../images/arrow_down.png) no-repeat center center;
}

.ac-container input:checked + label:hover:after {
    background-image: url(../images/arrow_up.png);
}

.ac-container input {
    display: none;
    max-height: 0px;
}

.ac-container article {
    background: rgba(255, 255, 255, 0.5);
    margin-top: -1px;
    overflow: hidden;
    height: auto;
    max-height: 0px;
    position: relative;
    z-index: 10;
    -webkit-transition: max-height 1s ease-in-out 0s, box-shadow 0.1s linear;
    -moz-transition: max-height 1s ease-in-out 0s, box-shadow 0.1s linear;
    -o-transition: max-height 1s ease-in-out 0s, box-shadow 0.1s linear;
    -ms-transition: max-height 1s ease-in-out 0s, box-shadow 0.1s linear;
    transition: max-height 1s ease-in-out 0s, box-shadow 0.1s linear;
    box-shadow: 0px 0px 0px 1px rgba(155, 155, 155, 0.3);
}

.ac-container article p {
    font-style: italic;
    color: #777;
    line-height: 23px;
    font-size: 14px;
    padding: 20px;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
}

.ac-container input:checked + label.title{
    max-height: 1024px;
    white-space: normal;
    -webkit-transition: max-height 2s ease-in-out 0s, background 1s ease-in-out;
    -moz-transition: max-height 2s ease-in-out 0s, background 1s ease-in-out;
    -o-transition: max-height 2s ease-in-out 0s, background 1s ease-in-out;
    -ms-transition: max-height 2s ease-in-out 0s, background 1s ease-in-out;
    transition: max-height 2s ease-in-out 0s, background 1s ease-in-out;
}

.ac-container input:checked ~ article.ac-small {
    max-height: 1024px;
}

.ac-container input:checked ~ article.ac-medium {
    max-height: 1024px;
}

.ac-container input:checked ~ article.ac-large {
    max-height: 1024px;
}
